<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>BBS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="container" syle="padding:20px 0">

  <h1>BBS</h1>

  <table class="table table-striped">
    <% @comments.each do |comment| %>
    <tr data-id="<%= comment.id %>">
      <td>
      <%= h comment.body %>
        <span class="deleteCmd" style="cursor:pointer;">
          <i class="glyphicon glyphicon-remove"></i>
        </span>
      </td>
    </tr>
    <% end %>
  </table>

  <h2>Add new</h2>
  <form method="post" action="/new">
    <div class="form-group">
      <label class="control-label" for="comment" >comment</label>
      <input type="text" name="body" class="form-control" placeholder="your comment">
    </div>
    <div class="form-group">
      <input type="submit" value="post" class="btn btn-primary">
    </div>
  </form>

  <script src="jquery-3.2.1.min.js"></script>
  <script>
    $('.deleteCmd').click(function(){
      var el = $(this).parent().parent();
      if (confirm('are you sure to delete?')) {
        $.post('/delete', {
          id: el.data('id')
        }, function() {
          el.fadeOut(800);
        })
      }
    })
  </script>

  </div>
  <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
  <script src="js/bootstrap.min.js"></script>

</body>
</html>
